/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121;
     /* акцент #2196F3 */
/* цвет фона ##FFFFFF */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: ;
  --title-text-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --card-gap: 30px;
  --card-item: 3;
  --color-icon: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent {
  color: var(--accent-color);
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
   flex-basis: calc(
    ((100% - (var(--card-item) - 1) * var(--card-gap))) / var(--card-item)
  );
}
}

.text-white {
  color: var(--secondary-title-color);
}
.text-black {
  color: var(--title-text-color);
}

.icon {
  fill: #afb1b8;
}
/* Социальные сети */
.soc-list {
  --card-gap: 10px;
  --card-item: 4;
}

.soc-item{
  width: 44px;
  height: 44px;
}
.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
  border: 1px solid transparent;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}

.soc-link:hover .item-icon,
.soc-link:focus .item-icon {
  fill: #ffffff;
}
/* ------------------------Хедер---------------------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav-list,
.contacts-list {
  display: flex;
  gap: 50px;
}

.contacts-list {
  margin-left: auto;
}

.nav-link,
.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--title-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts-link {
  display: flex;
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: var(--accent-color);
}
/* --------------------Герой--------------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ---------------------- Преимущества ----------------- */
.features-item {
  --card-gap: 30px;
  --card-item: 4;
}

.features-wrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  margin-bottom: 25px;
  margin-top: 25px;
  fill: var(--title-text-color);
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------------------Чем мы занимаемся------------------ */
.doing {
  padding-top: 0;
}

/* ------------------ Наша команда------------------------ */
.team {
  background-color: var(--secondary-bg-color);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  --card-item: 4;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-item  .soc-list {
  padding-left: 32px;
  padding-right: 32px;
}

/* --------------Постоянные клиенты--------------------*/

.clients-list {
  --card-gap: 30px;
  --card-item: 6;
}

.clients-item {
  width: 170px;
  height: 92px;

}

.clients-link {
    display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: 100%;
  border: 1px solid ;
   border-radius: 4px;
   color: var(--color-icon);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: currentColor;
}

/* ----------------------Футер ----------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
}

.footer-contacts-info {
  display: block;
  margin-right: 70px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--secondary-title-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-list,
.footer-address-item + .footer-address-item {
  margin-top: 9px;
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-subscribe {
  margin-right: auto;
  margin-top: 12px;
}

.subscrible-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.footer-subscribe .soc-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscribe .icon {
  fill: var(--secondary-title-color);
}

.footer-subscribe .soc-link:hover,
.footer-subscribe .soc-link:focus {
  background-color: var(--accent-color);
}

/* -----------------Страница Портфолио------------------- */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.filters-btn:focus,
.filters-btn:hover {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-item {
  border: 1px solid #eeeeee;
}

.projects-link {
  display: block;
  width: 100%;
  height: 100%;
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-wrap {
  padding: 20px 24px;
}

.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-group {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
